%h1 #{@question.id}
%p #{@question.body}
= link_to 'back', questions_path
%table.table
  %tr.headrow
    %th.tabhead Options

  - @options.each do |option|
    %tr.option-card
      %td= option.body
      - if option.question.user_id == current_user.id
        %td= link_to 'Edit', edit_question_option_path(option), :class => 'btn btn-info'
        %td= link_to 'Delete', question_option_path(option), :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this option?' }
      %td Last changed #{time_ago_in_words option.updated_at} ago
