
%h1.title.jumbotron Quiz List
-# = paginate @quizzes
%br
%table.table
  %tr.headrow
    %th.tabhead Quiz List

  %h1 Unpublished Quizzes
  - @unpub_quizzes.each do |fquiz|
    - fquiz.questions.each do |fquestion|
      %tr.question-card
        %td= fquestion.body
        %td= link_to 'Show', question_path(fquestion), :class => 'btn btn-info'
    %td= link_to 'Delete', quiz_path(fquiz), :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this quiz?' }
    %td= link_to "Publish Quiz", pub_switch_quiz_path(fquiz), method: :put

  %h1 Published Quizzes
  - @pub_quizzes.each do |tquiz|
    - tquiz.questions.each do |tquestion|
      %tr.question-card
        %td= tquestion.body
        %td= link_to 'Show', question_path(tquestion), :class => 'btn btn-info'
    %td= link_to 'Delete', quiz_path(tquiz), :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this quiz?' }


    -# %td{:class => "quiz-#{quiz.id}"}
    -#   = link_to "#{ quiz.published ? 'Published' : 'Unpublished' }", published_toggle_quiz_path(quiz), method: :patch, remote: :true, class: "btn btn-xs btn-#{ quiz.published ? 'success' : 'warning' }"
-# = paginate @quizzes
= yield
